/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
  font-size: 1.5rem;
  padding: 20px 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.container {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
  z-index: 100;
  margin: 0 auto;
}

.hide {
  display: none;
}

button {
  margin: 20px auto;
  cursor: pointer;
  color: #f1f1f1;

  align-items: center;
  background-clip: padding-box;
  background-color: #444E54;
  border: 1px solid transparent;
  border-radius: 30px;
  border: 3px solid #8BF4F7;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0 10px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 20%;
}

button:hover,
button:focus {
  background-color: #8BF4F7;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #444E54;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #8BF4F7;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


.btns {
  display: inline-block;
  /* justify-content: center; */
  text-align: center;
  width: 100vw;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
